.footer{
    padding: 20px 30px;
    // footer
    &-content{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,auto));
        gap: 2rem;

        &-box{
            display: flex;
            flex-direction: column;

            h3{
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 15px;
               
            }
            a {
                color: #979797;
                margin-bottom: .8rem;
                @extend .transition;
                &:hover{
                    color: $text-color;
                    transform: translateX(-5px);
                }

            }
            .social{
                display: flex;
                gap: 10px;
                a{
                    background-color: #202020;
                    width: 45px;
                    height: 45px;
                    display: grid;
                    place-items: center;
                    border-radius: 50%;
                    color: $text-color;
                    font-size: 20px;
                    &:hover{
                        background-color: $main-color;
                        color: $bg-color;
                    }

                }
            }
        }


    }
    // copyrights
    &-copyright{

        padding: 20px;
        text-align: center;
        color: #979797;
        font-size: 15px;

    }
}