.popular-courses{
    // title
    .center{
        text-align: center;
        h2{
            font-size: $h2-font;
            font-weight: 800;
        }

        .btn{
            margin-top: 3rem;
        }
    }
    // content
    &-content{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,auto));
        gap: 3rem;
        margin-top: 5rem;

        // card
        .card{
            position: relative;
          
            &:hover > img{
                scale: 1.05;
            }
            img{
                @extend .transition;
                cursor: pointer;
                width: 100%;
                height: 300px;
                border-radius: 10px;
                filter: brightness(70%);
            }

            .info{
                position: absolute;
                bottom: 40px;
                left: 25px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                h4{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 18px;
                    i{
                      color: $main-color
                    }
                }
            }
        }

    }
    // button

}